h1 { color: darkblue;}
body {
  font-family: Arial;
  padding: 20px;
  background: #f0f0f0;
}

.code-box {
  background: white;
  border-left: 5px solid green;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.code {
  color: #d63031;
  font-weight: bold;
  font-size: 18px;
}

.reward {
  color: #555;
  margin-bottom: 10px;
}
